<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Dyawulw cooperative Learning Center</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
     <link rel="shortcut icon" href="/public/img/favicon.png" type="image/x-icon">
    <!-- <link href="/public/img/favicon.png" rel="icon"> -->

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@600&family=Lobster+Two:wght@700&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/public/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/public/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/public/css/style.css" rel="stylesheet">
    
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0">
            <a href="index.ejs" class="navbar-brand">
                <img src="/public/img/dya-wulw.png" class="m-0 text-primary" style=" width: 150px; height: 80px;" alt="">
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                    <a href="index.ejs" class="nav-item nav-link active">HOME</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">ABOUT US</a>
                        <div class="dropdown-menu rounded-0 rounded-bottom border-0 shadow-sm m-0">
                            <a href="team.ejs" class="dropdown-item">Vision</a>
                            <a href="team.ejs" class="dropdown-item">Mission</a>
                            <a href="facility.ejs" class="dropdown-item">ctivities</a>
                            <a href="facility.ejs" class="dropdown-item">School Facilities</a>
                            <a href="team.ejs" class="dropdown-item">Meet Our Team</a>
                            <a href="classes.ejs" class="dropdown-item">classes</a>
                            <a href="appointment.ejs" class="dropdown-item">Make Appointment</a>
                            <a href="testimonial.ejs" class="dropdown-item">Testimonial</a>
                        </div>
                    </div>

                    <!-- <a href="classes.ejs" class="nav-item nav-link">Classes</a> -->
                    <a href="classes.ejs" class="nav-item nav-link">ENROLL</a>
                    <a href="classes.ejs" class="nav-item nav-link">OUR FOUNDER'S STORY</a>
                    <a href="contact.ejs" class="nav-item nav-link">CONTACT</a>
                   
                </div>
                <!-- <img src=".//public//public/img/faces.jpeg" class="m-0 text-primary" style=" width: 150px; height: 80px;" alt=""> -->
                <a href="" class="btn btn-primary rounded-pill px-3 d-none d-lg-block">DENOTE<i class="fa fa-arrow-right ms-3"></i></a>
            </div>
        </nav>
        <!-- Navbar End -->


        <!-- Carousel Start -->
        <div class="container-fluid p-0 mb-5">
            <div class="owl-carousel header-carousel position-relative">
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="/public/img/Untitled design.jpg" alt="" >
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .2);">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-10 col-lg-8">
                                    <h1 class="display-2 text-white animated slideInDown mb-4">School Is Fun</h1>
                                    <p class="fs-20 fw-medium text-white mb-4 pb-2">"School is Fun!"making new friends, learning exciting things, and exploring the world around us through group projects! Every day is full of adventures, from solving puzzles to playing games. Our school helps us grow, be creative, and have lots of fun while learning together!</p>
                                    <a href="about.ejs" class="btn btn-primary rounded-pill py-sm-3 px-sm-5 me-3 animated slideInLeft">Learn More</a>
                                    <a href="enroll.ejs" class="btn btn-dark rounded-pill py-sm-3 px-sm-5 animated slideInRight">Enroll Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="/public/img/carousel-11.png" alt="" >
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .2);">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-10 col-lg-8">
                                    <h1 class="display-2 text-white animated slideInDown mb-4">Beginning Right</h1>
                                    <p class="fs-20 fw-medium text-white mb-4 pb-2">Everyone starts as a beginner and take that first step and only by moving forward they can reach to that expert level.
                                    </p>
                                    <a href="about.ejs" class="btn btn-primary rounded-pill py-sm-3 px-sm-5 me-3 animated slideInLeft">Learn More</a>
                                    <a href="enroll.ejs" class="btn btn-dark rounded-pill py-sm-3 px-sm-5 animated slideInRight">Enroll Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="/public/img/carousel3.jpg" alt="">
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .2);">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-10 col-lg-8">
                                    <h1 class="display-2 text-white animated slideInDown mb-4"> Our Cultural Heritage Our Identity  
                                    </h1>
                                    <p class="fs-20 fw-medium text-white mb-4 pb-2">Cultural heritage is the legacy of the ways of living from the past, what we live with today and what we pass on to future generations</p>
                                    <a href="about.ejs" class="btn btn-primary rounded-pill py-sm-3 px-sm-5 me-3 animated slideInLeft">Learn More</a>
                                    <a href="enroll.ejs" class="btn btn-dark rounded-pill py-sm-3 px-sm-5 animated slideInRight">Enroll New</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel End -->

         <!-- main call to action bar start-->
         <!-- <div class="container">
            <div class="row main-actionBar">
                <div class="col-12 col-md-4 mb-3 mb-md-0">
                    <a href="#" class="actionBar-item item1">ARE YOU READY TO ADVANTURE TO THE DCLC FAMILY?</a>
                </div>
                <div class="col-12 col-md-4 mb-3 mb-md-0">
                    <a href="#" class="actionBar-item item2">2</a>
                </div>
                <div class="col-12 col-md-4 mb-3 mb-md-0">
                    <a href="#" class="actionBar-item item3">3</a>
                </div>
            </div>
        </div>   -->
        <!-- main call to action bar end-->

         <!-- Welcoming message start-->
         <div class="container-fluid main-welcome py-2">
            <div class="row align-items-center">
              <!-- Image Section -->
              <div class="col-md-5 text-center">
                <img src="/public/img/dyawulu3.png" at="Welcome Image" class="img-fluid" style="height: fit-content; width: 500px;">
              </div>
              <!-- Text Section -->
              <div class="col-md-6">
                <div class="welcome">
                  <div class="welcome-text mb-3">
                    <h5>Welcome To</h5>
                    <hr class="my-2" style="border-color: #000;">
                  </div>
                  <div class="welcome-message">
                    <h1 class="mb-4">Dya-wulu Cooperative Learning Center</h1>
                    <p class="mb-4">
                        It is my pleasure to welcome you to the Dya-wulu Cooperative Learning Center website.  We aim to provide the children in our care with the very best educational experiences and opportunities. We exist to provide quality Christian Pre-School, Primary and Junior High Education at the Community and National levels to the developing leaders of our country and the world at large. Our integrated curriculum promotes children’s values, a range of life skills and a love of learning.   We strongly believe that these combined will build the foundations for a successful education, helping the children in our care to become lifelong learners.                      </p>
                    <!-- Buttons Section -->
                     <a href="about.ejs"class="btn atction-btn btn-primary me-2">About Us</a>
                     <a href="enroll.ejs"class="btn atction-btn apply-btn">Enroll to DCLC</a>
                  </div>
                </div>
              </div>
            </div>
          </div> <br> <br>

       
        <!-- Facilities Start -->
        <!-- <div class="container-xxl py-5"> -->
            <!-- <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Dya-wulu Facilities</h1>
                    <p>Our school offers a range of well-designed spaces that nurture learning, creativity, and growth. With a focus on safety and engagement, our facilities provide a vibrant environment where children can thrive both academically and socially.</p>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="facility-item">
                            <div class="facility-icon bg-primary">
                                <span class="bg-primary"></span>
                                <i class="fa fa-bus-alt fa-3x text-primary"></i>
                                <span class="bg-primary"></span>
                            </div>
                            <div class="facility-text bg-primary">
                                <h3 class="text-primary mb-3">School Bus</h3>
                                <p class="mb-0">Eirmod sed ipsum dolor sit rebum magna erat lorem kasd vero ipsum sit</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="facility-item">
                            <div class="facility-icon bg-success">
                                <span class="bg-success"></span>
                                <i class="fa fa-futbol fa-3x text-success"></i>
                                <span class="bg-success"></span>
                            </div>
                            <div class="facility-text bg-success">
                                <h3 class="text-success mb-3">Playground</h3>
                                <p class="mb-0">Eirmod sed ipsum dolor sit rebum magna erat lorem kasd vero ipsum sit</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="facility-item">
                            <div class="facility-icon bg-warning">
                                <span class="bg-warning"></span>
                                <i class="fa fa-home fa-3x text-warning"></i>
                                <span class="bg-warning"></span>
                            </div>
                            <div class="facility-text bg-warning">
                                <h3 class="text-warning mb-3">Healthy Canteen</h3>
                                <p class="mb-0">Eirmod sed ipsum dolor sit rebum magna erat lorem kasd vero ipsum sit</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="facility-item">
                            <div class="facility-icon bg-info">
                                <span class="bg-info"></span>
                                <i class="fa fa-chalkboard-teacher fa-3x text-info"></i>
                                <span class="bg-info"></span>
                            </div>
                            <div class="facility-text bg-info">
                                <h3 class="text-info mb-3">Positive Learning</h3>
                                <p class="mb-0">Eirmod sed ipsum dolor sit rebum magna erat lorem kasd vero ipsum sit</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Facilities End -->

        <!-- About Start -->
        <!-- <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="mb-4">Learn More About Our Work And Our Cultural Activities</h1>
                        <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                        <p class="mb-4">Stet no et lorem dolor et diam, amet duo ut dolore vero eos. No stet est diam rebum amet diam ipsum. Clita clita labore, dolor duo nonumy clita sit at, sed sit sanctus dolor eos, ipsum labore duo duo sit no sea diam. Et dolor et kasd ea. Eirmod diam at dolor est vero nonumy magna.</p>
                        <div class="row g-4 align-items-center">
                            <div class="col-sm-6">
                                <a class="btn btn-primary rounded-pill py-3 px-4" href="">Read More</a>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle flex-shrink-0" src="/public/img/founder1.png" alt="" style="width: 45px; height: 45px;">
                                    <div class="ms-3">
                                        <h6 class="text-primary mb-1">Mrs. Ruby Martin</h6>
                                        <small>CEO & Founder</small>
                                        <small>Dyawulu cooperative Learning Center</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 about-img wow fadeInUp" data-wow-delay="0.5s">
                        <div class="row">
                            <div class="col-12 text-center">
                                <img class="img-fluid w-75 rounded-circle bg-light p-3" src="/public/img/about1.jpg" alt="">
                            </div>
                            <div class="col-6 text-start" style="margin-top: -150px;">
                                <img class="img-fluid w-100 rounded-circle bg-light p-3" src="/public/img/about-2.jpg" alt="">
                            </div>
                            <div class="col-6 text-end" style="margin-top: -150px;">
                                <img class="img-fluid w-100 rounded-circle bg-light p-3" src="/public/img/about-3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- About End -->

        <section class="impact-section">
            <h2 class="mb-4">Our Impact</h2>
            <p class="lead mb-5">We are proud of the positive impact Dya-Wulu Cooperative Learning Center has on our students, staff, and community.</p>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 bg-light impact-item">
                        <div class="impact-icon"><i class="bi bi-award-fill"></i></div>
                        <h3><span class="count" data-count="100">0</span>%</h3>
                        <p> Of our staff's children are on scholarship, and we also award scholarships to students for outstanding performance.</p>
                    </div>
                    <div class="col-md-3 bg-light impact-item">
                        <div class="impact-icon"><i class="bi bi-mortarboard-fill"></i></div>
                        <h3><span class="count" data-count="100">0</span>%</h3>
                        <p>Of our outgoing seniors consistently pass with high scores in other schools' exams.</p>
                    </div>
                    <div class="col-md-3 bg-light impact-item">
                        <div class="impact-icon"><i class="bi bi-backpack"></i></div>
                        <h3><span class="count" data-count="6">0</span> Outreaches</h3>
                        <p>In the past 3 years, we have conducted 6 outreach programs, giving back to other schools, orphanages, and our community.</p>
                    </div>
                    <div class="col-md-3 bg-light impact-item">
                        <div class="impact-icon"><i class="bi bi-pen-fill"></i></div>
                        <h4><span class="count" data-count="1">0</span> Book Launch</h4>
                        <p>We teach students who want to become writers. Our students have launched one book called <b>WE ARE VISIONARIES, WE SEE BEYOND</b>, and they have been accepted as members of the Liberia Writers Association.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- timeline section start -->
        <section class="timeline-section section-padding" id="section_3">
            <div class="section-overlay"></div>

            <div class="container">
                <div class="row">

                    <div class="col-12 text-center">
                        <h2 class="text-white mb-4 mt-4">Our Beliefs</h2>
                            <h5 class="text-white">We believe that every child can learn in an environment of:</h5>
                    </div>

                    <div class="col-lg-10 col-12 mx-auto" data-wow-delay="0.1s">
                        <div class="timeline-container">
                            <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline">
                                <div class="list-progress">
                                    <div class="inner"></div>
                                </div>

                                <li>
                                    <h4 class="text-white mb-3">Sharing And Caring</h4>

                                    <p class="text-white">We nurture a culture where students learn the importance of empathy, kindness, and respect. By encouraging sharing and caring, we build a community that supports and uplifts one another.</p>

                                    <div class="icon-holder">
                                      <i class="bi-search"></i>
                                    </div>
                                </li>
                                
                                <li>
                                    <h4 class="text-white mb-3">Laughing And Learning</h4>

                                    <p class="text-white">Joy and education go hand in hand. We create an engaging, fun environment where students can enjoy the learning process, knowing that laughter and exploration lead to a deeper understanding.</p>

                                    <div class="icon-holder">
                                      <i class="bi-bookmark"></i>
                                    </div>
                                </li>

                                <li>
                                    <h4 class="text-white mb-3">Questioning And Risking</h4>

                                    <p class="text-white">LWe inspire students to ask questions, think critically, and take risks. By stepping outside their comfort zones and embracing challenges, they gain confidence and grow intellectually and personally.</p>

                                    <div class="icon-holder">
                                      <i class="bi-book"></i>
                                    </div>
                                </li>

                                <li>
                                    <h4 class="text-white mb-3">We also help your child attain their God – Given talents.</h4>

                                    <p class="text-white">We inspire students to ask questions, think critically, and take risks. By stepping outside their comfort zones and embracing challenges, they gain confidence and grow intellectually and personally.</p>

                                    <div class="icon-holder">
                                      <i class="bi-book"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-12 text-center mt-5">
                        <p class="text-white">
                            Want to learn more?
                            <a href="about.ejs" class="btn custom-btn custom-border-btn ms-3 btn-primary">Check Here</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
          <!-- timeline section end -->


          <!-- accodion section start -->
          <section class="faq-section section-padding " data-wow-delay="0.1s" id="section_4">
            <div class="container-xxl py-5">
                <div class="row">

                    <div class="col-lg-6 col-12">
                        <h2 class="mb-4 text-center">Our Identity</h2>
                    </div>

                    <div class="clearfix"></div>
                    <div class="col-lg-6 col-12 m-auto" >
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Why Do We Exist?
                                    </button>
                                </h2>

                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        To make available quality Christian Pre-School, Primary and Junior High Education to the developing
                                        leaders of our country and the world at large.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Who do We Serve?
                                </button>
                                </h2>

                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        The fearfully and wonderfully hand made of God (All Students and nationals)
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        What Do We Produce?
                                </button>
                                </h2>

                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Responsible and productive Christian citizens of higher level thinking, communication and social skills.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Why DCLC Now?
                                </button>
                                </h2>

                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        DYA-WULU is needed now to give to our country Liberia what no outsider can do better. We do this by
                                        building individuals with positive self-esteem and academic prestige to meet the demand of a rapid
                                        changing society in the 21 st century.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
                        <div class="position-relative h-100">
                            <img class="position-absolute w-100 h-100 rounded" src="/public/img/dyawulu4.jpeg" style="object-fit: cover;">
                        </div>
                    </div>
                </div>
            </div>
        </section>
          <!-- accodion section end -->

          <!-- Our action START -->
          <div class="parallax-content projects-content" id="portfolio">
            <h4 class="text-center"></h4>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="owl-testimonials" class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="testimonials-item">
                                    <a href="/public/img/Government.jpg" data-lightbox="image-1">
                                        <img src="/public/img/Government.jpg" alt="">
                                    </a>
                                    <div class="text-content bg-dark">
                                        <h4>Polities</h4>
                                        <span>Student Council Government</span> <br>
                                        <div class="quick-link">
                                        <a href="404.ejs" class="btn ms-3 btn-primary">Detail</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonials-item">
                                    <a href="/public/img/Arts.jpg" data-lightbox="image-1">
                                        <img src="/public/img/Arts.jpg" alt=""></a>
                                    <div class="text-content bg-dark">
                                        <h4>Arts Village</h4>
                                        <span>Arts & Crift</span>
                                        <div class="quick-link">
                                            <a href="404.ejs" class="btn ms-3 btn-primary">Detail</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonials-item">
                                    <a href="/public/img/Activities.png" data-lightbox="image-1">
                                        <img src="/public/img/Activities.png" alt="">
                                    </a>
                                    <div class="text-content bg-dark">
                                        <h4>Extra Curriculum Activities</h4>
                                        <span>We support our students in exploration.</span>
                                        <div class="quick-link">
                                            <a href="404.ejs" class="btn ms-3 btn-primary">Detail</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonials-item">
                                    <a href="/public/img/book.jpg" data-lightbox="image-1"><img src="/public/img/book.jpg" alt=""></a>
                                    <div class="text-content bg-dark">
                                        <h4>Book Launch</h4>
                                        <span>We Are Visionaries, We See Beyond</span>
                                        <div class="quick-link">
                                            <a href="404.ejs" class="btn ms-3 btn-primary">Detail</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Call To Action Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="bg-light rounded">
                    <div class="row g-0">
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
                            <div class="position-relative h-100">
                                <img class="position-absolute w-100 h-100 rounded" src="/public/img/teacher.jpg" style="object-fit: cover;">
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                            <div class="h-100 d-flex flex-column justify-content-center p-5">
                                <h5>Hear From DCLC Teachers</h5>
                                <p class="mb-4">“I have never felt so motivated and empowered to teach. Dya-Wulu Cooperative Learning Center is an impressive organization that makes educators feel supported and equipped in their efforts to change lives.”
                                </p>
                                <a class="btn btn-primary py-3 px-5" href="classes.ejs">Join Our Team<i class="fa fa-arrow-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call To Action End -->

       

        <!-- Classes Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Our School Classes</h1>
                    <p>Our classes are very speacious and designed to inspire curiosity and foster a love for learning. With a focus on individual growth, we offer a balanced curriculum that combines academics, creativity, and play, ensuring each child reaches their full potential in a supportive and engaging environment.</p>
                </div>
                <div class="row g-4">
                  
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="classes-item">
                            <div class="bg-light rounded-circle w-75 mx-auto p-3">
                                <img class="img-fluid rounded-circle" src="/public/img/Pre-First.jpg" alt="" style="height: 220px; width: 300px;">
                            </div>
                            <div class="bg-light rounded p-4 pt-5 mt-n5">
                                <a class="d-block text-center h3 mt-3 mb-4" href=""></a>
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <div class="d-flex align-items-center">
                                        <img class="rounded-circle flex-shrink-0" src="/public/img/classes1.png" alt="" style="width: 45px; height: 45px;">
                                        <div class="ms-3">
                                            <h6 class="text-primary mb-1">JEugene Boyah</h6>
                                            <small>Teacher</small>
                                        </div>
                                    </div>
                                    <span class="bg-primary text-white rounded-pill py-2 px-3" href=""></span>
                                </div>
                                <div class="row g-1">
                                    <div class="col-4">
                                        <div class="border-top border-3 border-primary pt-2">
                                            <h6 class="text-primary mb-1">Age:</h6>
                                            <small>4-6 Years</small>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="border-top border-3 border-success pt-2">
                                            <h6 class="text-success mb-1">Time:</h6>
                                            <small>7-2 PM</small>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="border-top border-3 border-warning pt-2">
                                            <h6 class="text-warning mb-1">Capacity:</h6>
                                            <small>30 Kids</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="classes-item">
                            <div class="bg-light rounded-circle w-75 mx-auto p-3">
                                <img class="img-fluid rounded-circle" src="/public/img/First-geade.jpg" alt="" style="height: 220px; width: 300px;">
                            </div>
                            <div class="bg-light rounded p-4 pt-5 mt-n5">
                                <a class="d-block text-center h3 mt-3 mb-4" href="">First Grade</a>
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <div class="d-flex align-items-center">
                                        <img class="rounded-circle flex-shrink-0" src="/public/img/classes1.png" alt="" style="width: 45px; height: 45px;">
                                        <div class="ms-3">
                                            <h6 class="text-primary mb-1">JEugene Boyah</h6>
                                            <small>Teacher</small>
                                        </div>
                                    </div>
                                    <span class="bg-primary text-white rounded-pill py-2 px-3" href=""></span>
                                </div>
                                <div class="row g-1">
                                    <div class="col-4">
                                        <div class="border-top border-3 border-primary pt-2">
                                            <h6 class="text-primary mb-1">Age:</h6>
                                            <small>5-7 Years</small>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="border-top border-3 border-success pt-2">
                                            <h6 class="text-success mb-1">Time:</h6>
                                            <small>7-2 PM</small>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="border-top border-3 border-warning pt-2">
                                            <h6 class="text-warning mb-1">Capacity:</h6>
                                            <small>30 Kids</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="classes-item">
                            <div class="bg-light rounded-circle w-75 mx-auto p-3">
                                <img class="img-fluid rounded-circle" src="/public/img/second-grade.jpg" alt="" style="height: 220px; width: 300px;">
                            </div>
                            <div class="bg-light rounded p-4 pt-5 mt-n5">
                                <a class="d-block text-center h3 mt-3 mb-4" href="">Second Grade</a>
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <div class="d-flex align-items-center">
                                        <img class="rounded-circle flex-shrink-0" src="/public/img/classes1.png" alt="" style="width: 45px; height: 45px;">
                                        <div class="ms-3">
                                            <h6 class="text-primary mb-1">JEugene Boyah</h6>
                                            <small>Teacher</small>
                                        </div>
                                    </div>
                                    <span class="bg-primary text-white rounded-pill py-2 px-3" href=""></span>
                                </div>
                                <div class="row g-1">
                                    <div class="col-4">
                                        <div class="border-top border-3 border-primary pt-2">
                                            <h6 class="text-primary mb-1">Age:</h6>
                                            <small>8 -11 Years</small>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="border-top border-3 border-success pt-2">
                                            <h6 class="text-success mb-1">Time:</h6>
                                            <small>7-2 AM</small>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="border-top border-3 border-warning pt-2">
                                            <h6 class="text-warning mb-1">Capacity:</h6>
                                            <small>30 Kids</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <br>
                 <a class="btn btn-primary py-3 px-5" href="classes.ejs">See All Our Classes<i class="fa fa-arrow-right ms-2"></i></a>
            </div>
        </div>
        <!-- Classes End -->


                <!-- Appointment Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="bg-light rounded">
                    <div class="row g-0">
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="h-100 d-flex flex-column justify-content-center p-5">
                                <h1 class="mb-4 text-center">Make Appointment</h1>
                                <form class="d-flex flex-column justify-content-center align-items-center">
                                    <div class="row g-3 w-100">
                                        <div class="col-12 col-md-6">
                                            <div class="form-floating">
                                                <input type="text" class="form-control border-0" id="gname" placeholder="Guardian Name">
                                                <label for="gname">Guardian Name</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-floating">
                                                <input type="email" class="form-control border-0" id="gmail" placeholder="Guardian Email">
                                                <label for="gmail">Guardian Email</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-floating">
                                                <input type="text" class="form-control border-0" id="cname" placeholder="Child Name">
                                                <label for="cname">Child Name</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-floating">
                                                <input type="text" class="form-control border-0" id="cage" placeholder="Child Age">
                                                <label for="cage">Child Age</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating">
                                                <textarea class="form-control border-0" placeholder="Leave a message here" id="message" style="height: 100px"></textarea>
                                                <label for="message">Message</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                            <div class="position-relative h-100">
                                <img class="position-absolute w-100 h-100 rounded" src="/public/img/appointment.jpg" style="object-fit: cover;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Appointment End -->



        <!-- Team Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Administration</h1>
                    <p>The administration at DYA-WULU is dedicated to fostering a welcoming, efficient, and supportive environment for students, teachers, and parents. With a commitment to excellence and collaboration, our leadership team ensures that the school runs smoothly and that every child’s needs are prioritized</p>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item position-relative">
                            <img class="img-fluid rounded-circle w-70" src="/public/img/founder1.png" alt="">
                            <div class="team-text">
                                <h3>Ruby T. Martin</h3>
                                <p>Proprietress / Principal</p>
                                <div class="d-flex align-items-center">
                                    <a class="btn btn-square btn-primary mx-1" href="https://www.facebook.com/ruby.martin.1004"><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-square btn-primary  mx-1" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-square btn-primary  mx-1" href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="team-item position-relative">
                            <img class="img-fluid rounded-circle w-70" src="/public/img/admin1.png" alt="">
                            <div class="team-text">
                                <h3>Leona W. Kokulo</h3>
                                <p>Administrator / Business Manager</p>
                                <div class="d-flex align-items-center">
                                    <a class="btn btn-square btn-primary mx-1" href="https://www.facebook.com/leona.kokulo"><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-square btn-primary  mx-1" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-square btn-primary  mx-1" href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="team-item position-relative">
                            <img class="img-fluid rounded-circle w-70" src="/public/img/admin2.png" alt="">
                            <div class="team-text">
                                <h3>James B. Kokulo</h3>
                                <p>Financial Advisor</p>
                                <div class="d-flex align-items-center">
                                    <a class="btn btn-square btn-primary mx-1" href="https://www.facebook.com/james.kokulo"><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-square btn-primary  mx-1" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-square btn-primary  mx-1" href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-primary py-3 px-5" href="team.ejs">Our Team<i class="fa fa-arrow-right ms-2"></i></a>
                </div>
            </div>
        </div>
        <!-- Team End -->


        <!-- Testimonial Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Testimonial of Our Student's Parents</h1>
                    <p>Hear directly from the parents of our students about their experiences and how <b>Dya-Wulu Cooperative Learning Center </b>has positively impacted their children's growth and learning journey.</p>
                </div>
                <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                    <div class="testimonial-item bg-light rounded p-5">
                        <p class="fs-5">Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                        <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="/public/img/classes1.png" style="width: 90px; height: 90px;">
                            <div class="ps-3">
                                <h3 class="mb-1">Parent Name</h3>
                                <span>Profession</span>
                            </div>
                            <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded p-5">
                        <p class="fs-5">Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                        <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="/public/img/classes1.png" style="width: 90px; height: 90px;">
                            <div class="ps-3">
                                <h3 class="mb-1">Parent Name</h3>
                                <span>Profession</span>
                            </div>
                            <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded p-5">
                        <p class="fs-5">Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                        <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="/public/img/classes1.png" style="width: 90px; height: 90px;">
                            <div class="ps-3">
                                <h3 class="mb-1">Parent Name</h3>
                                <span>Profession</span>
                            </div>
                            <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->


        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <h3 class="text-white mb-4">Get In Touch</h3>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Opp. RLJ Junction, RIA Highway, Paynesville City,Liberia</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>0886-515-595 / 0777-515-595</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>dyawulu@gmail.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href="https://www.facebook.com/profile.php?id=100057231408905"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h3 class="text-white mb-4">Quick Links</h3>
                        <a class="btn btn-link text-white-50" href="">About Us</a>
                        <a class="btn btn-link text-white-50" href="">Contact Us</a>
                        <a class="btn btn-link text-white-50" href="">Our Services</a>
                        <a class="btn btn-link text-white-50" href="">Privacy Policy</a>
                        <a class="btn btn-link text-white-50" href="">Terms & Condition</a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h3 class="text-white mb-4">Photo Gallery</h3>
                        <div class="row g-2 pt-2">
                            <div class="col-4">
                                <img class="img-fluid rounded bg-light p-1" src="/public/img/kindergrading.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid rounded bg-light p-1" src="/public/img/about1.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid rounded bg-light p-1" src="/public/img/carousel3.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid rounded bg-light p-1" src="/public/img/binngers.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid rounded bg-light p-1" src="/public/img/teacher.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid rounded bg-light p-1" src="/public/img/second-grade.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h3 class="text-white mb-4">Newsletter</h3>
                        <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                        <div class="position-relative mx-auto" style="max-width: 400px;">
                            <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                            <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#">Dyawulu cooperative Learning Center</a>, All Right Reserved. 
							
							<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://ejscodex.com/credit-removal". Thank you for your support. ***/-->
							Designed By <a class="border-bottom" href="https://www.facebook.com/eugene.boyah.3">Eugene Boyah</a>
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="index.ejs">Home</a>
                                <a href="">Cookies</a>
                                <a href="">Help</a>
                                <a href="">FQAs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/public/lib/wow/wow.min.js"></script>
    <script src="/public/lib/easing/easing.min.js"></script>
    <script src="/public/lib/waypoints/waypoints.min.js"></script>
    <script src="/public/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/public/js/main.js"></script>
    <script src="/public/js/plugins.js"></script>
</body>

</html>